<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @user_first_post.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @user_first_post.user_id %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
